
#myframe {  margin-top: 5%; margin-left: 17%; margin-right: 17%; background-color: #E0E0E0; }

#mytext { text-align: center; vertical-align:middle; font-size: 18pt;         
          padding-left: 10%; padding-right: 10%; height: 400px; width: 10%;
          font-family: sans-serif; }

#mytitle { text-align: center; font-size: xx-small; 
           margin-top: 5%; margin-left:17%; margin-right:17%;
           padding: 1%;
           font-family: Arial, sans-serif; background-color: #FFFFFF; }
           
a {color: black; text-decoration:none}

#zurueck { margin-right: 20%; }

#vor { margin-left: 20%; }